@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
p.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
}
body {
    background: #292929;
}
.p {
font-family: minecraft;
}
.iframe-container {
    text-align: center;
    width: 100%;
}
